.footer {
    background-color: #081f3a;
}

.footer-logo {
    font-weight: 700;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social {
    color: white;
}

.li-style {
    color: #ffffff;
    display: block;
    margin-top: 10px;
}

.li-style:hover {
    color: rgb(19, 212, 61);
}

.copyright {
    background-color: #081f3a;
}